.center-panel {
  width: 52rem;
  gap: 1.5rem;
  position: absolute;
  top: 15.625rem;
  left: 47.3%;
  transform: translateX(-50%);
  z-index: 9996;
}
.question-panel {
  width: 52rem;
  height: 21.9375rem;
  gap: 1.5rem;
}
.question-frame {
  width: 52rem;
  height: 21.9375rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.375rem;
  gap: 1rem;
  background: #f8f8f8;
  border: 0.025rem solid #717171;
  box-shadow: 0.5rem 0.5rem 1.5625rem 0rem #00000080;
}
.Ques1 {
  width: 48.625rem;
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Ques1-1 {
  width: 16.3125rem;
  height: 2.5rem;
  gap: 18px;
}
.Ques1-1-1 {
  width: 6.1875rem;
  height: 2.5rem;
  border-radius: 6px;
  gap: 0.625rem;
  padding: 0.5rem, 1rem, 0.5rem, 1rem;
  background-color: #a9d9ff;
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2a2a;
}
.Ques1-1-2 {
  width: 9rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  padding: 0.5rem, 1rem, 0.5rem, 1rem;
  gap: 0.625rem;
  background-color: #a9d9ff;
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2a2a;
}
.Ques1-2 {
  width: 4.375rem;
  height: 4.375rem;
  gap: 0.625rem;
}
.Ques2 {
  width: 48.625rem;
  height: 12.0625rem;
  gap: 0.5rem;
  margin-top: 0.9rem;
  padding-top: 1rem;
}
.Quest2-p1 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f0f;
}
.Quest2-p2 {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f0f;
}
.Ques3 {
  width: 48.625rem;
  height: 1.5rem;
}

.Ques3-1 {
  width: 9rem;
  height: 1.5rem;
}
.Ques3-1 .img-fluid {
  width: 1.4888rem;
  height: 0.9375rem;
  top: .2188rem;
}
.Ques3-1-p {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2a2a;
}
.Ques3-2 {
  width: 19.3125rem;
  height: 1.5rem;
  gap: 0.125rem;
}
.Ques3-2 .img-fluid {
  width: 1.375rem;
  height: 1.375rem;
}
.Ques3-2-p {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;

  color: #2a2a2a;
}

.second-section {
  width: 832px;
  height: 2.6875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.answer2 {
  width: 10.1875rem;
  height: 2.25rem;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0em;
  text-align: left;
  color: #f8f8f8;
}
.sort {
  width: 15.05rem;
  height: 2.6875rem;
  gap: 0.6875rem;
}
.sortspan {
  width: 10.1875rem;
  height: 2.25rem;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0em;
  text-align: left;
  color: #f8f8f8;
}
.dropdown-span {
  width: 8.005rem;
  height: 2.6875rem;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  gap: 0.625rem;
  background: #f8f8f8;
}
.drp {
  width: 4.375rem;
  height: 1.6875rem;
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2a2a;
}
.dropdown-span img {
  width: 1.255rem;
  height: 0.5337rem;
}

.userAnswers {
  width: 52rem;
  gap: 1rem;
}
.answer1 {
  width: 52rem;
  height: 19.8125rem;
  border-radius: 0.375rem;
  padding: 1rem 0rem 1rem 0rem;
  gap: 1rem;
  background: #dee7ff;
  border: 1px solid #979595;
}
.answer1center {
  width: 46.875rem;
  height: 17.8125rem;
  gap: 1.125rem;
}
.answer1center-1 {
  width: 46.875rem;
  height: 3.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answer1center-1-1 {
  width: 41.25rem;
  height: 3.875rem;
  gap: 1rem;
}

.ecl {
  width: 3.75rem;
  height: 3.75rem;
}
.userDetails {
  width: 10.6875rem;
  height: 3.875rem;
  gap: 0.3125rem;
}
.useDetailsp {
  width: 10.8581rem;
  height: 1.6875rem;
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f0f;
}
.useDetailspmain {
  width: 10.6875rem;
  height: 1.875rem;
  color: #0f0f0f;
}
.userDetailsmainspan1 {
  width: 7.0625rem;
  height: 1.875rem;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f0f;
}
.userDetailsmainspan2 {
  width: 3.625rem;
  height: 1.875rem;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f0f;
}

.answer1center-1-2 {
  width: 4.625rem;
  height: 1.875rem;
  color: #0f0f0f;
}
.pen {
  width: 1.25rem;
  height: 1.25rem;
}
.editbtn {
  width: 2.3125rem;
  height: 1.875rem;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f0f;
  border: none;
  background-color: transparent;
}

.answer1center-2 {
  width: 46.875rem;
  height: 8.4375rem;
}
.answer1center-2p {
  width: 46.875rem;
  height: 8.4375rem;

  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f0f;
}
.s1span {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2a2a;
  opacity: 50%;
}
.darkspan {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f0f;
}
.answer1center-3 {
  width: 46.75rem;
  height: 3.25rem;
  gap: 1rem;
}
.upvote {
  width: 4.5625rem;
  height: 1.875rem;
  gap: 0.3125rem;
}
.upvote-grp {
  width: 1.5625rem;
  height: 1.5625rem;
}
.hand1 {
  width: 0.1981rem;
  height: 0.9637rem;
  opacity: 50%;
}
.hand2 {
  width: 1.3125rem;
  height: 1.5625rem;
}
.upvotep {
  width: 2.375rem;
  height: 1.875rem;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f0f;
}
.post {
  width: 37.455rem;
  height: 2.125rem;
  gap: 0.125rem;
}
.post1 {
  width: 1.58rem;
  height: 1.5625rem;
  gap: 0.625rem;
}
.post1 img {
  width: 1.58rem;
  height: 1.5625rem;
}
.post2 {
  width: 29.875rem;
  height: 2.125rem;
  border-radius: 0.375rem;
  border: 1px solid #979595;
  padding: 0.625rem;
  outline: none;
  background-color: #dee7ff;
}
.post2::placeholder {
  width: 8.25rem;
  height: 1.5rem;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #979595;
}
.post3 {
  width: 4.75rem;
  height: 2.125rem;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  gap: 0.625rem;
  color: #f5f5f580;
  border: 1px solid #000000;
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: 0em;
  text-align: center;
  color: #00000080;

}

.mobileview{
  display: none;
}

/*media Querie*/
@media (max-width: 767.98px) { 

  .center-panel{
    display: none;
  }
  .mobileview{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .Ques{
    background: #F8F8F8;
  }
  .FirstFrame p{
    font-family: Poppins;
font-size: .625rem;
font-weight: 400;
line-height: .9375rem;
letter-spacing: 0em;
text-align: left;
color: #0F0F0F;
  }
  .FirstFrame  img{
    width: 4.6875rem;
height:1.5625rem;
gap: .3125rem;

  }
  .SeconFrame p{
    font-family: Poppins;
font-size: 1rem;
font-weight: 400;
line-height: 1.1875rem;
letter-spacing: 0em;
text-align: left;
color: #0F0F0F;
  }
  .third1{
    flex-basis: 40%;
   
    
  }
  .third1-1{
    flex-basis: 50%;
    text-align: center;
    background: #DBEFFF;
    border-radius: .375rem;
    text-align: center;
    
font-family: Hind;
font-size: .75rem;
font-weight: 600;
line-height: 1.1875rem;
letter-spacing: 0em;
color: #2A2A2A;

  }
  .third1-2{
flex-basis: 40%;
background: #DBEFFF;
    border-radius: .375rem;
    text-align: center;
    font-family: Hind;
font-size: .75rem;
font-weight: 600;
line-height: 1.1875rem;
letter-spacing: 0em;
color: #2A2A2A;
  }
  .third2{
    background: #98FD75;
    border-radius: .375rem;
    font-family: Poppins;
font-size: .625rem;
font-weight: 600;
line-height: .625rem;
letter-spacing: 0em;
text-align: center;
color: #2A2A2A;
Padding:.4375rem .875rem .4375rem .875rem;

  }
  .fourth1 img{
    width: .9194rem;
height: .8831rem;

  }
  .fourth1 p{
    font-family: Poppins;
font-size: .75rem;
font-weight: 400;
line-height: 1.125rem;
letter-spacing: 0em;
text-align: left;
color: #3BCA09;
  }
  .fourth2 img{
    width: .9925rem;
height: .625rem;

  }
  .fourth2 p{
    font-family: Poppins;
font-size: .75rem;
font-weight: 400;
line-height: 1.125rem;
letter-spacing: 0em;
text-align: left;
color: #0F0F0F;
  }
  .fourth1{
    flex-basis: 30%;
  }
  .fourth2{
    flex-basis: 30%;
  }
}
