.reportPanel {
  position: absolute;
  z-index: 9999;
  width: 26.875rem;
  height: 38rem;
  bottom: 2rem;
  right: 2rem;

  gap: .75rem;
}
.newheight{
  height: 35rem;
}
.fabddd1:hover{
    cursor: pointer;
}
.fabddd2:hover{
    cursor: pointer;
}
.fabddd3:hover{
    cursor: pointer;
}
.fabddd4:hover{
    cursor: pointer;
}
.fabddd5:hover{
    cursor: pointer;
}
.cardd {
  width: 26.875rem;
  height: 33.5rem;
  padding: 1.5rem 1rem 1.9rem 1rem;
  border-radius: .5rem;
  gap: 2rem;
  background: #f8f8f8;
  box-shadow: -0.125rem .25rem 1rem 0rem #00000029;
}
.cardlogin{
    height: 30.5rem!important;
    margin-top: 9rem;
}
.emailCard{
    height: 42.8125rem;
}
.feedbackemailcard{
  height: 31.8125rem;
}
.cardnotlogin{
    height: 32.25rem!important;
    margin-top: 9rem;
}
.headerr {
  width: 24.875rem;
  height: 4.5rem;
  
}
.headerr .p1 {
  width: 20.375rem;
  /* height: 3rem; */
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;
  color: #4d4d4d;
}
.dark {
  color: black;
}
.divider {
  width: 24.875rem;
  border: .125rem;
  border: .125rem solid #cccccc;
}
.issue-Content {
  width: 24.875rem;
  height: 24rem;
  gap: 1.5rem;
}
.notloginissue{
   
height: 34.375rem;


}
.choose-Section {
  width: 24.875rem;
  height: 4.875rem;
  gap: .75rem;
}
.chooseSectionLabel{
    width: 9.8125rem;
height: 1.125rem;
font-family: Poppins;
font-size: 1.125rem;
font-weight: 500;
line-height: 1.125rem;
letter-spacing: 0em;
text-align: left;
color: #4D4D4D;


}
.description-section {
  width: 24.875rem;
  height: 17.625rem;
  top: 6.375rem;
  gap: .75rem;
}
.email-description-section{
    height: 378px;
}

.desc-email{
    width:24.875rem;
height: 4.5rem;
gap: .75rem;

}
.desc-email label{
    width: 21.3125rem;
    height: 1.125rem;
    font-family: Poppins;
font-size: 1.125rem;
font-weight: 500;
line-height: 1.125rem;
letter-spacing: 0em;
text-align: left;
color: #4D4D4D;
margin-bottom: .75rem;
    
}

.desc-emailInputWrapper{
    width: 24.875rem;
height: 2.625rem;
padding: .625rem 1rem .75rem 1rem;
border-radius: .5rem;
border: .0938rem;
gap: .5rem;
border: .0938rem solid #999999

}
.desc-email input{
    width: 22.875rem;
height: 1.125rem;
font-family: Poppins;
font-size: 1.125rem;
font-weight: 500;
line-height: 1.125rem;
letter-spacing: 0em;
text-align: left;
color: #808080;
border: none;
outline: none;
background: transparent;





}

.dropdown-button {
  width: 24.875rem;
  height: 3rem;
  padding: .75rem 1rem .75rem 1rem;
  border-radius: .5rem;
  border: .0625rem;
  gap: .5rem;
  background: #e0e0e0;
  border: .0625rem solid #cccccc;
}
.dropdown-button p {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: 0em;
  text-align: left;
  width: 20.875rem;
  height: 1.125rem;
  color: #333333;
}
.dopdownarrow {
  width: 1.25rem;
  height: .625rem;
  top: .4219rem;
  left: 1.3913rem;
  /* angle: -90 deg */
}
.dropdown-content{
    
}
.dropdown-content div{
    width: 24.875rem;
    min-height: 3rem;
    padding: .75rem 1rem .75rem 1rem;
    
    border: .0625rem;
    gap: .5rem;
    background: #e0e0e0;
    border: .0625rem solid #cccccc;
}
.dropdown-content a{
    display: block;
    font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: 0em;
  text-align: left;
  width: 20.875rem;
  height: 1.125rem;
  color: #333333;
}
.desc-label{
    width: 24.875rem;
height: 1.125rem;
gap: .125rem;

}
.desc-label label{
    width: 15.1875rem;
height: 1.125rem;
font-family: Poppins;
font-size: 1.125rem;
font-weight: 500;
line-height: 1.125rem;
letter-spacing: 0em;
text-align: left;
color: #4D4D4D;

}
.deswc{
    width:24.875rem;
height:224.75rem;
gap: 2rem;

}
.emaildeswc{
    height: 348px;
}
.textfield{
    width:24.875rem;
height:11.25rem;
padding: .75rem 1rem .75rem 1rem;
border-radius: .5rem;
border: .0625rem;

background: #E0E0E0;
border: .0625rem solid #CCCCCC
}
.input-wrapper{
    width:22.875rem;
height:1.125rem;
outline: none;
border: none;
font-family: Poppins;
font-size: 1.125rem;
font-weight: 500;
line-height: 1.125rem;
letter-spacing: 0em;
text-align: left;
color: #808080;
background: #E0E0E0;



}
.attach-d{
    width:6.375rem;
height:2rem;
padding: .25rem .625rem .25rem .25rem;
border-radius: .25rem;
background: #C7C7C7;

}
.att-icon-box{
    height: 1.5rem;
    width: 1.5rem;
}
.att-icon-box img{
    width: .6875rem;
height: 1.375rem;
top: .0625rem;
left: .4375rem;
color: #333333;

}
.att-icon-box p{
    width: 4rem;
height: 1.1875rem;
font-family: Poppins;
font-size: 1.1875rem;
font-weight: 500;
line-height: 1.1875rem;
letter-spacing: 0em;
text-align: left;
color: #333333;

}

.checkboxform{
  width: 24.875rem;
height:.8125rem;
gap: .125rem;

}
.vehicle1{
  width: 1rem;
  height: 1rem;
}
.chklabel{
  width: 21.3125rem;
  height: 1.125rem;
  font-family: Poppins;
font-size: 1.125rem;
font-weight: 500;
line-height: 1.125rem;
letter-spacing: 0em;
text-align: left;
color: #4D4D4D;

}
.submitbtn{
    width:7.125rem;
height:2.5rem;
padding: .625rem 1.25rem .625rem 1.25rem;
border-radius: .25rem;
gap: .5rem;
opacity: .0375rem;
background: #C7C7C7;
font-family: Poppins;
font-size: 1.25rem;
font-weight: 600;
line-height: 1.25rem;
letter-spacing: 0em;
text-align: center;
color: #F8F8F8;
border: none;



}
.submitbtndark{
    width:7.125rem;
    height:2.5rem;
    padding: .625rem 1.25rem .625rem 1.25rem;
    border-radius: .25rem;
    gap: .5rem;
    opacity: .0375rem;
    background: #0F0F0F;
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0em;
    text-align: center;
    color: #F8F8F8;
    border: none;
}

.fablist-reportPanel{
    width: 20.75rem;
height: 3.75rem;
gap: 1rem;

}
.newfablist-reportPanel{
  margin-bottom: 1.5rem;
}
.fabddd5{
    width: 3.75rem;
height: 3.75rem;
padding: .625rem;
border-radius: 1.875rem;
gap: .5rem;
background: #F8F8F8;
box-shadow: .0625rem .0625rem .5rem 0rem #00000080;


}
.fabclosee{
    width: 2.5rem;
height: 2.5rem;
top: .625rem;
left: .625rem;
padding: .625rem .625rem .625rem .625rem;
border-radius: 2.5rem;

}
.clsii{
    width: 2.1875rem;
height: 2.1875rem;
top: .625rem;
left: .625rem;


    

}

.fabddd4, .fabddd3, .fabddd2, .fabddd1{
    width: 3.25rem;
height: 3.25rem;
border-radius: 1.625rem;
gap: .4331rem;
background: #F8F8F8;



}
.fabddd4{
    
}
.selectedclass{
    box-shadow: inset 0 0 0rem .1875rem #000000e6;
}
.fabddd4-center{
    width: 1.1969rem;
height: 1.3rem;
top: 2.3294rem;
left: 1.0537rem;
color: #0F0F0F;


}
.fabddd4-center img{
    width: 1.1969rem;
height: 1.3rem;
top: 2.3294rem;
left: 1.0537rem;
color: #0F0F0F;

}

.fabddd3-like{
    width: 1.95rem;
height: 1.95rem;
top: .65rem;
left: .65rem;


}
.grp3-1{
    width: .975rem;
    height: .9137rem;
    top: 1.0356rem;
    left: 0rem;
    
    
}
.ii1{
    width: .2437rem;
    height: .6094rem;
    top: 1.0263rem;
    left: 0rem;
    margin-bottom: .9375rem;
    
    }
.ii2{
    width: .67rem;
height: .9137rem;
top: 1.0356rem;
left: .305rem;
margin-top: -4.4375rem;
margin-left: .25rem ;

}

.grp3-2{
    width: .975rem;
    height: .9137rem;
    top: .9137rem;
    left: 1.95rem;
    /* angle: -180 deg */
    transform: rotate(180deg);
    
}

.ii3{
    width: .2437rem;
height: .6094rem;
top: .9231rem;
left: 1.95rem;
/* angle: -180 deg */
margin-top: -0.625rem;
    margin-left: -0.8125rem;

}
.ii4{
    width: .67rem;
height: .9137rem;
top: .9137rem;
left: 1.645rem;
/* angle: -180 deg */
margin-top: -0.8125rem;

}

.fabddd2-center{
    width: 2.6rem;
height: 2.6rem;
top: .4331rem;
left: .4875rem;
padding: .6625rem .3287rem .5819rem .4456rem;

}
.ggg3{
    width: 1.8256rem;
height: 1.3556rem;
top: .6625rem;
left: .4456rem;

}
.custommm {
    margin-top: -0.3125rem;
    margin-left: -0.25rem;
}



/*mediaQueriesd*/
@media (max-width: 767.98px) {

    @keyframes slide-up {
        from {
          transform: translateY(100%);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
    
      .mobileanimationclass {
        animation: slide-up 0.2s ease-out;
      }

    /*login feedback panel */
.anotherlogincard{
    height: fit-content!important;
    margin-top: 9rem!important;
    padding-bottom: 5vh!important;
}

    .anotherlogintextfield{
        height: 29vh!important;
    }
    .loginfeedbackcheckboxformmq{
        width: 100%!important;
        display: flex;
        align-items: center;
    }
    .anoltherfeedbackLoginfablist{
        top: 2rem;
    }

    /*not login feedback panel */
    .notLoginFeedbackpanelmq{
        width: 100% !important;
        max-width: none !important;
         min-height: 55vh !important;
        max-height: 90vh !important; 
        bottom: 0 !important;
        right: 0 !important;
        position: fixed !important;
        padding-top: 0vh;
       
       
        justify-content: flex-end!important;
    }
    .anothernotlogincardfeedback{
       height: fit-content!important;
       margin-top: 0!important;
      
    }
    .notloginissuefeedbackmq{
        height: fit-content!important;
    }
    .notloginfeedbackdesc-Sectionmq{
        height: fit-content!important;
    }
    .notloginfeedbackdeswcmq{
        align-items: flex-start!important;
        width: 100%!important;
    }
    .notloginfeedbackmqtextfield{
        height: fit-content!important;
        width: 100%!important;
    }
    .mqnotloginfeedbackattachd{
        margin-top: 10vh;
    }
    .loginfeedbacksubbtn{
        width: 30vw!important;
        margin-left: 60vw!important;
    }
    .mqnotLoginFablistFeedbacc{
        top: -5vh;
    }
}